.gradle/
build/
captures/
local.properties
*.iml
.idea/
.kotlin/
.cxx/

*.jks
*.keystore
keystore.properties

.DS_Store
Thumbs.db

xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
Pods/

node_modules/
